<div class="slick-container" :class="{ 'responsive': isResponsiveToContainer }">
  <template v-if="computedItems.length < 1 && type !== 'passthrough'">
    <slot name="empty">
      <p>
        no results found
      </p>
    </slot>
  </template>
  <template v-else>
    <slick ref="slick" :options="computedSlickOptions">
      <div v-for="item in computedItems" :key="item.id">
        <div v-if="computedSlickOptions.slidesToShow === 1" style="position: relative;">
          <a :href="item.destinationUrl">
          <img v-if="item.imageUrl" :src="item.imageUrl" :alt="item.altText">
          <template v-if="!item.imageUrl">{{ item.title }}</template>
          <div v-if="item.altText" style="width: 100%; position: absolute; bottom: 0; background: rgb(0,0,0,0.5); color: white;">
            <p style="margin: 0; padding: 10px;" v-bind:style="alignText">{{ item.altText }}</p>
          </div>
        </a>
        </div>
        <div v-if="computedSlickOptions.slidesToShow > 1" style="padding: 10px;">
          <p v-if="!item.imageUrl" style="min-height: 7rem;">{{ item.description }}</p>
          <a :href="item.destinationUrl">
            <img v-if="item.imageUrl" :src="item.imageUrl" :alt="item.altText">
            <template>{{ item.title }}</template>
          </a>
        </div>
        <p v-if="!item.imageUrl" v-html="item.description"></p>
      </div>
      <slot v-if="type === 'passthrough'" />
    </slick>
  </template>
</div>
