@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';

.slick-container.responsive {
  .slick-inner {
    width: 100%;
  }

  .slick-list {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  .slick-prev {
    left: 25px;
    z-index: 2;
  }

  .slick-next {
    right: 25px;
    z-index: 2;
  }
}

.slick-inner {
  width: 98%;
  margin: auto;
}

.slick-slide {
  width: var(--cc-slick-slide-width, 300px);
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #fff;
}

.slick-container.hero {
  .slick-slide {
    margin: 0;
  }

  .slick-hero-container {
    position: relative;
  }

  .slick-hero-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    p {
      padding: 10px;
      margin: 0;
    }
  }
}

.slick-item {
  .slick-item-description {
    min-height: 9rem;
    padding: 0 10px;
  }

  .slick-image {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
  }
}

.slick-slide {
  width: var(--cc-slide-width, 240px);
}
.slick-item {
  display: flex;
  flex-direction: column;
  width: var(--cc-item-width, block);

  > .slick-item-description,
  > .slick-image,
  > .slick-title {
    display: none;
  }

  &.has-description .slick-item-description {
    order: var(--cc-description-order, 2);
    display: var(--cc-description-display, block);
    background: var(--cc-description-bgcolor, #fff);
    color: var(--cc-description-textcolor, inherit);
    margin: var(--cc-description-margin, 0);
    padding: var(--cc-description-padding, 8px);
    flex: var(--cc-description-flex, 2);

    border-top: var(--cc-description-border-top, none);
    border-bottom: var(--cc-description-border-bottom, none);
  }
  &.has-image .slick-image {
    order: var(--cc-image-order, 1);
    display: var(--cc-image-display, block);
    background: var(--cc-image-bgcolor, #ccc);
    margin: var(--cc-image-margin, 0);
    padding: var(--cc-image-padding, 0);
    flex: var(--cc-description-flex, 1 1 33%);
    min-height: var(--cc-image-min-height, 5rem);
    max-height: var(--cc-image-max-height, 100px);
    overflow: hidden;
    > span {
      background-size: cover;
    }
    &,
    > img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }

  &.has-title .slick-title {
    order: var(--cc-title-order, 3);
    display: var(--cc-title-display, block);
    background: var(--cc-title-bgcolor, #fff);
    margin: var(--cc-title-margin, 0);
    padding: var(--cc-title-padding, 10px);
    overflow: var(--cc-title-overflow, auto);
    text-overflow: var(--cc-title-text-overflow, clip);
    white-space: var(--cc-title-white-space, normal);
    flex: var(--cc-description-flex, 1);

    border-top: var(--cc-title-border-top, 1px solid rgba(0, 0, 0, 0.125));
    border-bottom: var(--cc-title-border-bottom, 0);
  }
}
