@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';

.slick-container.responsive {
  .slick-inner {
    width: 100%;
  }

  .slick-list {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  .slick-prev {
    left: 25px;
    z-index: 2;
  }

  .slick-next {
    right: 25px;
    z-index: 2;
  }
}

.slick-inner {
  width: 98%;
  margin: auto;
}

.slick-slide {
  width: var(--cc-slick-slide-width, 300px);
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #fff;
}

.slick-container.hero {
  .slick-slide {
    margin: 0;
  }

  .slick-hero-container {
    position: relative;
  }

  .slick-hero-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;

    p {
      padding: 10px;
      margin: 0;
    }
  }
}

.slick-item {
  .slick-item-description {
    min-height: 9rem;
    padding: 0 10px;
  }

  &.has-image .slick-item-description {
    display: none;
  }

  .slick-image {
    display: block;
    min-height: 9rem;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
  }

  .slick-title {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    display: block;
    padding: 10px;
  }
}

.flexy {
  .slick-slide {
    width: var(--cc-flexy-slide-width, 240px);
  }
  .slick-item {
    display: flex;
    flex-direction: column;
    width: var(--cc-flexy-item-width, block);

    .slick-item-description {
      order: var(--cc-flexy-description-order, 3);
      display: var(--cc-flexy-description-display, block);
      background: var(--cc-flexy-description-bgcolor, #ccc);
      margin: var(--cc-flexy-description-margin, 0);
      padding: var(--cc-flexy-description-padding, 8px);
      flex: var(--cc-flexy-description-flex, 2);
    }
    .slick-image {
      order: var(--cc-flexy-image-order, 1);
      display: var(--cc-flexy-image-display, block);
      background: var(--cc-flexy-image-bgcolor, #ccc);
      margin: var(--cc-flexy-image-margin, 0);
      padding: var(--cc-flexy-image-padding, 8px);
      flex: var(--cc-flexy-description-flex, 1 1 33%);
      min-height: var(--cc-flexy-image-height, 5rem);
      background-size: cover;
    }
    .slick-title {
      order: var(--cc-flexy-title-order, 1);
      display: var(--cc-flexy-title-display, block);
      background: var(--cc-flexy-title-bgcolor, #fff);
      margin: var(--cc-flexy-title-margin, 0);
      padding: var(--cc-flexy-title-padding, 8px);
      overflow: var(--cc-flexy-title-overflow, hidden);
      text-overflow: var(--cc-flexy-title-text-overflow, ellipsis);
      white-space: var(--cc-flexy-title-white-space, nowrap);
      flex: var(--cc-flexy-description-flex, 1);
    }

    .slick-title,
    .slick-image,
    .slick-item-description {
      border: none;
    }
  }
}
