@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';

.slick-container.responsive {
  .slick-list {
    width: 100%;

    img {
      max-width: 100%;
      height: inherit;
      vertical-align: middle;
    }
  }

  .slick-prev {
    left: 25px;
    z-index: 2;
  }

  .slick-next {
    right: 25px;
    z-index: 2;
  }
}

.slick-inner {
  width: 98%;
  margin: auto;
}

.slick-slide {
  width: 300px;
  margin: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #fff;
}

.slick-title {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: block;
  padding: 10px;
}

.slick-hero-container {
  position: relative;
}

.slick-hero-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: white;

  p {
    padding: 10px;
    margin: 0;
  }
}

.slick-item {
  .slick-item-description {
    min-height: 9rem;
    padding: 0 10px;
  }

  .slick-image {
    display: block;
    min-height: 9rem;
    margin: 10px;
  }
}


