<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Test : <%= htmlWebpackPlugin.options.title %></title>
    <style lang="scss"></style>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <h2><%= htmlWebpackPlugin.options.title %></h2>
    <div class="parameters">
      <h3>Parameters</h3>
      <dl>
        <dt>messages</dt>
        <dd>
          [{"locales": ["fr", "fr-FR"], "messages": { "message": {"favorites": {
          "add": "Ajoutez moi!" } }}}]
        </dd>
      </dl>
      <dl>
        <dt>default-org-logo</dt>
        <dd>
          https://lycees.netocentre.fr/annuaire_images/default_banner_v1.jpg
        </dd>
      </dl>
      <dl>
        <dt>force-org-logo</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>favorites-portlet-card-size</dt>
        <dd>small</dd>
      </dl>
      <dl>
        <dt>grid-portlet-card-size</dt>
        <dd>auto</dd>
      </dl>
      <dl>
        <dt>hide-action-mode</dt>
        <dd>never</dd>
      </dl>
      <dl>
        <dt>context-api-url</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>favorite-api-url</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>portlet-api-url</dt>
        <dd>http://localhost:3000/portletRegistry</dd>
      </dl>
      <dl>
        <dt>layout-api-url</dt>
        <dd>http://localhost:3000/layout</dd>
      </dl>
      <dl>
        <dt>organization-api-url</dt>
        <dd>http://localhost:3000/orginfo</dd>
      </dl>
      <dl>
        <dt>user-info-api-url</dt>
        <dd>http://localhost:3000/userinfo</dd>
      </dl>
      <dl>
        <dt>sign-out-url</dt>
        <dd>#signout</dd>
      </dl>
      <dl>
        <dt>user-info-portlet-url</dt>
        <dd>#user-info</dd>
      </dl>
      <dl>
        <dt>switch-org-portlet-url</dt>
        <dd>#switch-org</dd>
      </dl>
      <dl>
        <dt>user-org-id-attribute-name</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>org-logo-url-attribute-name</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>user-all-orgs-id-attribute-name</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>card-hover-src</dt>
        <dd>title</dd>
      </dl>
      <dl>
        <dt>show-favorites-in-slider</dt>
        <dd>true</dd>
      </dl>
      <dl>
        <dt>debug</dt>
        <dd>true</dd>
      </dl>
      <h3>Events</h3>
      <dl>
        <dt>close</dt>
        <dd id="closeEvt">Not emit</dd>
      </dl>
    </div>
    <hr />
    <div>
      <esco-content-menu
        messages='[{"locales": ["fr", "fr-FR"], "messages": { "message": {"favorites": {
          "add": "Ajoutez moi!" } }}}]'
        default-org-logo="https://lycees.netocentre.fr/annuaire_images/default_banner_v1.jpg"
        favorites-portlet-card-size="small"
        grid-portlet-card-size="auto"
        hide-action-mode="never"
        portlet-api-url="http://localhost:3000/portletRegistry"
        layout-api-url="http://localhost:3000/layout"
        organization-api-url="http://localhost:3000/orginfo"
        user-info-api-url="http://localhost:3000/userinfo"
        sign-out-url="#signout"
        user-info-portlet-url="#user-info"
        switch-org-portlet-url="#switch-org"
        card-hover-src="title"
        show-favorites-in-slider
        debug
      ></esco-content-menu>

      <script defer>
        document.querySelectorAll('esco-content-menu').forEach((el) => {
          el.addEventListener('close', (e) => {
            const date = new Date().toLocaleTimeString();
            document.querySelector(
              '#closeEvt'
            ).textContent = `Last emit : ${date}`;
          });
        });
      </script>
    </div>
  </body>
</html>
