<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Test : <%= htmlWebpackPlugin.options.title %></title>
    <style lang="scss"></style>
  </head>
  <body>
    <%= htmlWebpackPlugin.options.header %>
    <h2><%= htmlWebpackPlugin.options.title %></h2>
    <div class="parameters">
      <h3>Parameters</h3>
      <dl>
        <dt>message</dt>
        <dd>
          Le Lorem Ipsum est simplement du faux texte employé dans la
          composition et la mise en page avant impression. Le Lorem Ipsum est le
          faux texte standard de l'imprimerie depuis les années 1500, quand un
          imprimeur anonyme assembla ensemble des morceaux de texte pour
          réaliser un livre spécimen de polices de texte.
        </dd>
      </dl>
      <dl>
        <dt>line-clamp</dt>
        <dd></dd>
      </dl>
      <dl>
        <dt>line-height</dt>
        <dd>20px</dd>
      </dl>
      <dl>
        <dt>end-char</dt>
        <dd>...</dd>
      </dl>
      <dl>
        <dt>end-html</dt>
        <dd></dd>
      </dl>
    </div>
    <hr />
    <div>
      <lit-ellipsis
        message="Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte."
        line-height="20px"
        end-char="..."
      >
      </lit-ellipsis>
    </div>
  </body>
</html>
