.primary {
  // --cc-title-display: block;
}

.flush {
  --cc-description-display: none;
  --cc-title-padding: 8px;
  // --cc-title-overflow: hidden;
  // --cc-title-text-overflow: ellipsis;
  // --cc-title-white-space: nowrap;
  --cc-description-bgcolor: #eee;
  --cc-title-flex: 1 1 auto;
}

body {
  background: #eee;
  height: 100%;
  margin: 0;

  main {
    & > section {
      margin-bottom: 50px;

      &.content {
        width: 96%;
        margin: auto;
      }
    }
  }
}
