.action-favorites {
  &.background-dark {
    .favorite-button > .svg-inline--fa {
      color: var(--action-favorites-dark-background-icon-color, #f2f2f2);
    }
  }

  .favorite-button {
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: $PortletCardButtonSize;
    height: $PortletCardButtonSize;

    &:hover {
      > .svg-inline--fa {
        transform: scale(1.4, 1.4);
      }
    }

    > .svg-inline--fa {
      width: 60%;
      height: 60%; /* or any other relative font sizes */
      color: var(--action-favorites-normal-icon-color, #b7b7b7);
    }
  }
}
