/** Swiper CSS **/
@import 'swiper/scss';

/** Content-favorites CSS **/
$buttonWidth: 32px;

.content-favorites {
  width: inherit;
  color: #fff;
  padding-bottom: 1.5em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: left;

  > .content-favorites-title {
    margin: 0 0 5px 2em;
    text-transform: uppercase;
    filter: grayscale(1);

    h1 {
      font-size: 24px;
      font-weight: normal;
      margin: 10px 0 5px 10px;
      color: white;
    }
  }

  > .favorites {
    position: relative;
    padding: 0 2em;
    overflow-x: inherit;
    > ::v-deep .content-grid {
      > div .flex-grid {
        justify-content: flex-start;

        .flex-item {
          margin: 0;
        }

        .flex-item.portlet-card-medium,
        .flix-item.portlet-card-large {
          margin: $buttonWidth 5px 5px 0;
        }
      }
    }

    > .swiper {
      padding-bottom: 30px;

      > .swiper-wrapper {
        > .swiper-slide {
          width: $PortletCardSizeLarge;
          height: 170px;
          margin: $buttonWidth auto;

          &:first-child {
            margin-left: 20px;
          }
        }
      }

      .swiper-pagination {
        bottom: 0;

        > span.swiper-pagination-bullet {
          width: 16px;
          height: 16px;
          margin: 0 8px;
          color: white;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: 100%;
      background-image: none;
      color: #ffffff;
      margin-top: 0;
      width: $buttonWidth;
      height: $buttonWidth;
      text-align: center;
      &:after {
        content: none;
      }
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .fav-swiper-button-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }

    a.no-style {
      text-decoration: none;
      color: inherit;
    }
  }

  > .empty-favorites {
    padding-left: 2em;
  }

  &.parent-small,
  &.parent-smaller {
    > .content-favorites-title h1 {
      font-size: initial;
      font-weight: bold;
    }
  }

  &.small,
  &.smaller {
    > .favorites {
      > .swiper,
      > .content-grid {
        margin: 0;
      }

      > .swiper {
        > .swiper-wrapper {
          > .swiper-slide {
            height: auto;
            margin: 0;
          }

          .swiper-slide ~ .swiper-slide {
            margin-left: 5px;
          }
        }
      }
    }
  }

  &.medium > .favorites > .swiper > .swiper-wrapper > .swiper-slide {
    width: $PortletCardSizeMedium;
    height: 160px;
  }

  &.small > .favorites > .swiper > .swiper-wrapper > .swiper-slide {
    width: $PortletCardSizeSmall;
  }

  &.smaller > .favorites > .swiper > .swiper-wrapper > .swiper-slide {
    width: $PortletCardSizeSmaller;
  }

  @media (hover: none) and (pointer: coarse) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  .svg-inline--fa {
    width: auto;
    height: 2em; /* or any other relative font sizes */

    /* You would have to include the following two lines to make this work in Safari */
    max-width: 100%;
    max-height: 100%;
  }
}
