.hamburger-menu {
  > .content-menu-toggle {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 0;

    &:hover > .menu-wrapper > .hm-line {
      opacity: 0.7;
    }

    .menu-icon {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-items: center;
      width: 28px;
      height: 28px;
      margin: 0 var(--content-menu-icon-spaces, 10px);

      &.hamburger-icon {
        flex-direction: column;
        flex-wrap: nowrap;
        .icon-elem {
          flex: 0 1 2px;
          width: 100%;
          margin: auto 0px;
          content: ' ';
          background-color: var(--content-menu-icon-font-color, #fff);
          border-radius: 1px;
        }
      }

      &.four-square-icon,
      &.four-circle-icon {
        .icon-elem {
          flex: 0 1 10px;
          width: 10px;
          height: 10px;
          margin: 2px;
          content: ' ';
          background-color: var(--content-menu-icon-font-color, #fff);
          border-radius: 1px;
        }
      }

      &.nine-square-icon,
      &.nine-circle-icon {
        .icon-elem {
          flex: 0 1 6px;
          width: 6px;
          height: 6px;
          margin: 1.6px;
          content: ' ';
          background-color: var(--content-menu-icon-font-color, #fff);
          border-radius: 1px;
        }
      }

      &.four-circle-icon,
      &.nine-circle-icon {
        .icon-elem {
          border-radius: 50%;
        }
      }

      &.empty-icon {
        .icon-elem {
          box-sizing: border-box;
          background-color: transparent;
          border: 1.5px solid var(--content-menu-icon-font-color, #fff);
        }
      }
    }
  }

  .toggler-menu,
  slot esco-content-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms;
    animation: fade 600ms;
  }

  .active-menu,
  slot .active-menu {
    visibility: visible;
    opacity: 1;
  }
}
