$PortletCardSizeLarge: 255px;
$PortletCardSizeMedium: 205px;
$PortletCardSizeSmall: 120px;
$PortletCardSizeSmaller: 100px;
$PortletCardButtonSize: 44px;

$PortletCardSizeCustomWidth: 180px;
$PortletCardSizeCustomHeight: 180px;
