name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build-and-test:
    name: '${{ matrix.platform }}: node.js ${{ matrix.node-version }}'
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-2019, macos-latest]
        node-version: [14]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: npm ci
      - name: Bootstrap
        run: npm run bootstrap
      - name: Lint
        run: npm run lint
      - name: Test
        run: npm run test
      - name: Build
        run: npx lerna run build
      - name: Check Commit Message
        run: npx commitlint --from HEAD~${{ github.event.pull_request.commits }} --to HEAD
